{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% if g.user%}
<h2>Hello {{g.user}}</h2>
{% else %}
<h2>Hello World</h2>
<h2>You must be logged in to see more...</h2>
{% endif %}
<ul class="list-menu">
    {% if g.user %}
    <li><a href="{{ url_for('login.logout')}}">Logout</a></li>
    <li><a href="{{ url_for('user.edit')}}" >Manage Your User Record</li>
    {% else %}
    <li><a href="{{ url_for('login.login')}}" >Login</li>
    {% endif %}
</ul>
{% endblock body %}