{% extends "layout.html" %}
{% block title %}Edit {{ g.title }}{% endblock %}
{% block body %}
<h3>{{ config.SITE_NAME }} User Menu</h3>
{% if "user" in session %}
<h2>Hello {{session.user}}</h2>
{% else %}
<h2>Hello World</h2>
<h2>You must be logged in to see more...</h2>
{% endif %}
<ul class="list-menu">
    {% if "user" in session %}
    <li><a href="{{ url_for('login.logout')}}">Logout</a></li>
    <li><a href="{{ url_for('user.edit')}}" >Manage User Record</li>
    {% else %}
    <li><a href="{{ url_for('login.login')}}" >Login</li>
    {% endif %}
</ul>
{% endblock body %}